/* Reset some default styles */
body, h1, p, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  background-color: #FF0000; /* Red */
  color: white;
  padding: 10px;
  position: relative;
  flex-wrap: wrap;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

/* Brown box styling */
.brown-box {
  /* background-color: brown; */
  height: 400px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 1;
}

/* Navigation links styling */
.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links a {
  color: white;
  padding: 14px 20px;
  display: block;
}

.nav-links a:hover {
  background-color: #FFA500; /* Orange */
}

/* Navigation icons styling */
.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons .icon {
  font-size: 24px;
  padding: 14px 20px;
}

.nav-icons .icon:hover {
  background-color: #FFA500; /* Orange */
}

/* Content styling */
.content {
  padding: 20px;
  right: 10%;
  top: 20%;
  position: absolute;
  width: 300px;
}

.title {
  margin-bottom: 10px;
  font-size: 36px;
  color: #FF0000; /* Red */
}

.description {
  font-size: 16px;
  color: #666;
}

/* Cards container styling */
.cards-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.large-image img {
  position: absolute;
  top: 5%;
  right: 165%;
  z-index: 99;
  height: 250px;
}

/* Card styling */
.card {
  background-color: #008000; /* Green */
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100px;
  height: 150px;
  padding: 10px;
  position: relative;
  box-shadow: rgb(248, 255, 116) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-image {
  position: absolute;
  top: -20px;
  right: 40px;
  width: 50px;
  box-shadow: rgba(5, 5, 77, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
}

.price {
  margin-top: 60px;
  font-weight: bold;
  font-size: 14px;
  color: #FFD700; /* Yellow */
}

.name {
  font-size: 12px;
  color: #fff6f6;
  margin-top: 5px;
}

.stars {
  color: gold;
  font-size: 12px;
  margin-top: 5px;
}

.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  color: #333;
}

.rectangle {
  background-color: #8B4513; /* Brown */
  height: 400px;
  width: 300px;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  top: 0px;
  left: 250px;
  z-index: 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button {
  width: 8vw;
  margin-top: 2vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #008000; /* Green */
  border: none;
  border-radius: 10px;
  color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

button:hover {
  width: 9vw;
  transition: 1s ease-in-out;
  cursor: pointer;
}

/* Menu icon styling */
.menu-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  background-color: #FFFFFF; /* White */
  color: #FF0000; /* Red */
  padding: 5px;
  border-radius: 5px;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sliding menu styling */
.sliding-menu {
  position: fixed;
  margin-top: 1%;
  top: 10%;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  gap: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s;
  z-index: 1000;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.menu-item .icon {
  margin-right: 20px;
}

.menu-item:hover {
  background-color: #FFA500; /* Orange */
}
